h3{
    
	font-size : 150%;
	color:mediumpurple;
	border-bottom: 3px darkblue double;
	width: 200px;
	margin:0px auto 20px;
}
h4{
    
	font-size : 120%;
	color:slateblue;
	padding: 5px 5px;
	margin:0px auto 20px;
}

.wrap{
	width: 960px;
	margin:0px auto; 
}
p{
	margin-bottom: 4em;
	display: inline-block;
    text-align: left;
}
main br{
	display: block;
	margin-bottom: 10px;
	content: "";
}